<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>cegece.github.io by ibharath462</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/materialize.css" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
    <script src="script/main.js"></script>
  </head>
  <body ng-app="DECE" ng-controller="bodyctrl">

    <div class="container">
      <div class="row">
        <div class="s12 l12 center">
          <h1>Department of ECE</h1>
        </div>
      </div>
    </div>

  <main>
  <div class="container">

  <div class="row">
    <div class="col s12"><p style="background-color:#ef5350">s12</p></div>
    <div class="col s12 m4 l2"><p style="background-color:#ce93d8">s12 m4</p></div>
    <div class="col s12 m4 l8"><p style="background-color:#3d5afe">s12 m4</p></div>
    <div class="col s12 m4 l2"><p style="background-color:#d4e157 ">s12 m4</p></div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3"><p style="background-color:#616161">s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p style="background-color:#616161">s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p style="background-color:#616161">s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p style="background-color:#616161">s12 m6 l3</p></div>
  </div>


  <div class="row">
  <div class="col l4 s12">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Dr. S.Muttan<i class="material-icons right">more_vert</i></span>
      <p><a href="#">hodece@annauniv.edu</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><b><u>Areas of interest:</b></u></u><i class="material-icons right">close</i></span>
      <p>Medical Electronics, Digital VLSI, Digital Signal Processing, Digital Communication.</p>
      <div class="cta-container transition"><a ng-click="showarticle(1)" class="cta">More info</a></div>
    </div>
  </div>
  </div>
  </div>


  <div class="articlepanel" ng-hide="articleVisble">
        <div ng-include src=" partial==1 ? 'articles/article1.html' : null" ></div>
        <div ng-include src=" partial==2 ? 'articles/article2.html' : null" ></div>
        <div ng-include src=" partial==3 ? 'articles/article3.html' : null" ></div>
        <div ng-include src=" partial==4 ? 'articles/article4.html' : null" ></div>
        <div ng-include src=" partial==5 ? 'articles/article5.html' : null" ></div>
        <div ng-include src=" partial==6 ? 'articles/article6.html' : null" ></div>
        <div ng-include src=" partial==7 ? 'articles/article7.html' : null" ></div>
        <div ng-include src=" partial==8 ? 'articles/article8.html' : null" ></div>
        <div ng-include src=" partial==9 ? 'articles/article9.html' : null" ></div>
        <div class="button123-div">
            <button type="button" class="waves-effect waves-light btn-large" ng-click="hidearticle()">Close</button>
        </div>
  </div>



  </main>

  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
  </footer>

  </div>
  </body>
</html>
